.form-area
  = form_for resource, as: resource_name, url: signup_path do |f|
    = devise_error_messages!
    .required.field
      .ui.fluid.large.icon.input
        = f.text_field :login, placeholder: "邮箱或手机号"
        %i.circular.mail.icon
    .required.field
      .ui.fluid.large.icon.input
        = f.password_field :password,  placeholder: "密码"
        %i.circular.lock.icon
    .inline.required.field
      .ui.checkbox
        = check_box_tag :term, 1, true
        %label 我已阅读并同意服务条款
    = f.submit "注册", class: "ui large fluid positive submit button"
