.form-area
  = form_tag "signup", method: :post do
    - if flash[:alert]
      .ui.warning.message
        %i.close.icon
        = flash[:alert]
    .required.field
      .ui.fluid.large.icon.input
        = text_field_tag :email, @identity.try(:email), {placeholder:"邮箱或电话号码"}
        %i.circular.mail.icon
    .required.field
      .ui.fluid.large.icon.input
        = password_field_tag :password
        %i.circular.lock.icon
    .inline.required.field
      .ui.checkbox
        = check_box_tag :term, 1, true
        %label 我已阅读并同意服务条款
    = submit_tag "注册", {class: "ui large fluid positive submit button"}
