.form-area
  = form_for @user, url: "/signup" do |f|
    - if @user.errors.any?
      .ui.warning.message
        %i.close.icon
        注册失败！
        %ul
          %li= @user.errors.messages.first[1][0]
    .field
      .ui.large.icon.input
        = f.text_field :email, {placeholder:"邮箱或电话号码", type: "text"}
        %i.circular.mail.icon
    .field
      .ui.large.icon.input
        = f.password_field :password, {placeholder: "密码", type:"password"}
        %i.circular.lock.icon
    .inline.field
      .ui.checkbox
        = f.check_box :term, checked: "checked"
        %label 我已阅读并同意服务条款
    = f.submit "注册", {class: "ui large fluid positive submit button"}