= render "layouts/header"
= render "nav/message"
= render "nav/nav"
.intro-box.wrap
  .ui.page.grid
    .sixteen.wide.column
      .float-left.column
        %h2.ui.header.title 科室：#{@department[:name]}
      .float-right.column
        = link_to edit_department_path(@department), class: 'ui small button' do
          %i.edit.icon
          编辑
        .ui.small.button
          %i.star.icon>
          收藏
      .clear-both
      .description
        = @department[:description]
.ui.divider
.wrap
  .ui.page.grid
    .four.wide.column
      = render "doctor"
    .twelve.wide.column
      = render "list"
= render "layouts/footer"