= render "layouts/header"
.top-steps.wrap
  .ui.page.grid
    .sixteen.wide.column
      .ui.four.column.grid
        - @index_top_steps_card.each do |card|
          .column
            .ui.fluid.card
              .image
                = image_tag "img/" + card[0]
              .content
                %a.header
                  = t(card[1])
.search-box.wrap
  .ui.page.grid
    .sixteen.wide.column
      .column
        %h3.ui.header.search-title
          %i.search.icon
          .content
            = t('search_in_database')
        .ui.fluid.icon.input
          %input{type: "text", placeholder: t('search')+"..."}
          %i.search.icon
.news-box.wrap
  .ui.page.grid
    .ten.wide.column
      .ui.feed
        - @index_news_feed_events.each do |event|
          .event
            .label
              - case event[:label_type]
              - when "i"
                %i{class: event[:label_content] + " icon"}
              - when "img"
                %img{src: event[:label_content]}
            .content
              .summary
                = raw event[:summary]
                .date
                  = event[:date]
              - if event.has_key? :extra_type
                %div{class: "extra " + event[:extra_type]}
                  = raw event[:extra_content]
              .meta
                %a.like
                  %i.like.icon
                  = event[:like]
    .six.wide.column
      .ui.info.message
        .header 热点聚焦
        %p Pull requests are fantastic. Create pull requests without leaving the warm embrace of GitHub for Windows.
      .ui.segment
        .ui.top.attached.label 我的治疗方案
        .ui.divided.list
          - @index_news_my_treatment.each do |t|
            %a.item
              %i.star.icon
              .content
                .header
                  = t[:header]
                .description
                  = t[:desc]
      .ui.segment
        .ui.top.attached.label 我参与的
        .ui.list
          - @index_news_my_contribution.each do |c|
            %a.item
              %i{class: c[:icon] + " icon"}
              .content
                .header 
                  = c[:header]
                .description 
                  = c[:desc]
= render "layouts/footer"