.form-area.ui.large.form
  = form_for @user do |f|
    - if @user.errors.any?
      .ui.warning.message
        %i.close.icon
        保存失败！
        %ul
          %li= @user.errors.messages.first[1][0]
    .twelve.wide.inline.field
      %label 原始密码
      = f.text_field :name, {placeholder:"姓名", type: "text", class: "wide-input"}
    .inline.field
      %label 新密码
      = f.text_field :name, {placeholder:"职称", type: "text", class: "wide-input"}
    .inline.field
      %label 新密码确认
      = f.text_field :email, {placeholder:"邮箱", type: "text", disabled: "disabled", class: "wide-input"}
    = f.submit "保存", {class: "ui large positive submit button"}