.form-area.ui.large.form
  = form_for @user do |f|
    - if @user.errors.any?
      .ui.warning.message
        %i.close.icon
        保存失败！
        %ul
          %li= @user.errors.messages.first[1][0]
    .field
      %label 原始密码
      = f.text_field :name, {placeholder:"原始密码", type: "password", class: "wide-input"}
    .field
      %label 新密码
      = f.text_field :name, {placeholder:"新密码", type: "password", class: "wide-input"}
    .field
      %label 新密码确认
      = f.text_field :email, {placeholder:"新密码确认", type: "password", class: "wide-input"}
    = f.submit "保存", {class: "ui large positive submit button"}