<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disease.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @disease.summary %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @disease.overview %>
</p>

<%= link_to 'Edit', edit_disease_path(@disease) %> |
<%= link_to 'Back', diseases_path %>
