= render "layouts/header"
= render "nav/nav"
.disease-box.wrap
  .ui.page.grid
    .sixteen.wide.column
      .ui.tabular.menu
        %a.active.item{"data-tab" => "disease"} 疾病详情
        %a.item{"data-tab" => "treatments"} 治疗方案
      .ui.active.tab{"data-tab" => "disease"}
        %article.tab-content
          %section.row.header
            .float-left.column.title
              %h1.ui.header #{@disease.name}
              .sub.header 最新更新：#{@disease.updated_at}
            .float-right.column
              .ui.button
                %i.edit.icon>
                编辑
              .ui.button
                %i.star.icon>
                收藏
              .ui.button
                %i.share.icon>
                分享
            .clear-both
          %section.ui.grid.row.content
            .eleven.wide.column
              %p #{@disease.overview}
            .five.wide.column
              .ui.card
                .image
                  %img{:src => "/images/wireframe/image.png"}
                .content
                  .description #{@disease.summary}
              %table.ui.small.table
                %thead
                  %tr
                    %th.fifteen.wide{:colspan => "2"} 基本属性
                %tbody
                  %tr
                    %td.bold 别称
                    %td
                      = @disease.alt_name
                  %tr
                    %td.bold 英文名称
                    %td
                      = @disease.name_en
                  %tr
                    %td.bold 就诊科室
                    %td 
                      = link_to @department[:name], department_path(@department)
                  %tr
                    %td.bold 常见病因
                    %td
                      = @disease.cause
      = render "treatment"
= render "layouts/footer"