.form-area
  = form_for resource, as: resource_name, url: signin_path do |f|
    = render "layouts/message_content"
    .required.field
      .ui.fluid.large.icon.input
        = f.text_field :login, placeholder: "邮箱或手机号"
        %i.circular.mail.icon
    .required.field
      .ui.fluid.large.icon.input
        = f.password_field :password,  placeholder: "密码"
        %i.circular.lock.icon
    .two.fields
      .inline.field
        .ui.checkbox
          = check_box_tag :remember, "true", checked: "checked"
          %label 保持登录状态
      .inline.field
        %a.float-right{href: "signup"}
          忘记密码
    = f.submit "登录", class: "ui large fluid primary submit button"
