= form_for @category, html: {class: "ui form"} do |f|
  - unless @category.id.nil?
    .inline.field
      = f.label :parent_id, "父分类"
      = f.hidden_field :parent_id
      %span
        = select_tag :parent_select, options_from_collection_for_select(Category.roots, :id, :name), {class: "ui dropdown"}
      - @category.ancestors.each do |ancestor|
        %span
          %i.right.chevron.icon.divider
          = select_tag :parent_select, options_from_collection_for_select(ancestor.children, :id, :name), {class: "ui dropdown"}
  .inline.field
    = f.label :name, "分类名"
    = f.text_field :name
  .inline.field
    = f.label :name_en, "英文名"
    = f.text_field :name_en
  .inline.field
    = f.label :common, "常见分类"
    .ui.toggle.checkbox
      = f.check_box :common, checked: @category[:common]
  .field
    = f.label :description, "描述"
    = f.text_area :description
  