= render partial: "layouts/header"
= render partial: "nav/nav"
.intro-box.wrap
  .ui.page.grid
    .sixteen.wide.column
      %h2.ui.header.title 全部疾病
.ui.divider
.wrap
  .ui.page.grid
    .four.wide.column
      = render "categories/filter_root"
      = render "categories/filter_department"
    .search-result-box.twelve.wide.column
      = render "categories/list_root"
= render "layouts/footer"