= render "layouts/header"
= render "nav/nav"
.intro-box.wrap
  .ui.page.grid
    .sixteen.wide.column
      .left.floated.column
        %h2.ui.header.title 全部分类
      .right.floated.column
        #category_edit.ui.small.button
          %i.plus.icon>
          添加分类
      .clear-both
.ui.divider
.wrap
  .ui.page.grid
    .four.wide.column
      = render "category_sorter"
    .search-result-box.twelve.wide.column
      = render "category_list_index"
= render "category_modal"
= render "layouts/footer"