= render "layouts/header"
= render "layouts/message"
= render "nav/nav"
.intro-box.wrap
  .ui.page.grid
    .sixteen.wide.column
      .float-left.column
        %h2.ui.header.title 全部分类
      .float-right.column
        #category_edit.ui.small.button
          %i.plus.icon>
          添加分类
      .clear-both
.ui.divider
.wrap
  .ui.page.grid
    .four.wide.column
      = render "sorter"
    .search-result-box.twelve.wide.column
      = render "list_index"
= render "modal_new"
= render "layouts/footer"
