= render partial: "layouts/header"
= render partial: "nav/nav"
.intro-box.wrap
  .ui.page.grid
    .sixteen.wide.column
      .left.floated.column
        %h2.ui.header.title 全部疾病
      .right.floated.column
        #category_edit.ui.small.button
          %i.plus.icon>
          添加分类
      .clear-both
.ui.divider
.wrap
  .ui.page.grid
    .four.wide.column
      = render "filter_root"
      = render "filter_department"
    .search-result-box.twelve.wide.column
      = render "list_root"
= render partial: "modal"
= render "layouts/footer"