= render "layouts/header"
= render "nav/nav"
.intro-box.wrap
  .ui.page.grid
    .sixteen.wide.column
      .float-left.column
        %h2.ui.header.title 分类：#{@category[:name]}
      .float-right.column
        .ui.dropdown.labeled.icon.small.button
          %i.options.icon
          操作
          .menu
            #category_edit.item 
              %i.edit.icon &nbsp; 编辑
            .item 
              %i.trash.icon &nbsp; 删除
            .item 
              %i.plus.icon &nbsp; 添加科室
        .ui.small.button
          %i.star.icon>
          收藏
      .clear-both
      .description
        = @category[:description]
.ui.divider
.wrap
  .ui.page.grid
    .four.wide.column
      = render "sorter"
    .twelve.wide.column
      = render "list"
- if @category.id.nil?
  = render "modal_new"
- else
  = render "modal_edit"
= render "layouts/footer"