<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disease_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @disease_category.description %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @disease_category.parent %>
</p>

<p>
  <strong>Level:</strong>
  <%= @disease_category.level %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @disease_category.is_active %>
</p>

<p>
  <strong>Is empty:</strong>
  <%= @disease_category.is_empty %>
</p>

<p>
  <strong>Is bottom:</strong>
  <%= @disease_category.is_bottom %>
</p>

<%= link_to 'Edit', edit_disease_category_path(@disease_category) %> |
<%= link_to 'Back', disease_categories_path %>
