= render partial: "layouts/header"
= render partial: "layouts/nav"
.intro-box.wrap
  .ui.page.grid
    .sixteen.wide.column
      %h2.ui.header.title 分类：#{@view[:name]}
      .description
        = @view[:overview]
.ui.divider
.wrap
  .ui.page.grid
    .four.wide.column
      = render "disease_categories/filter_department"
    .search-result-box.twelve.wide.column
      = render "disease_categories/list"
= render "layouts/footer"