.nav-box.wrap
  .ui.page.grid
    .sixteen.wide.column
      .ui.large.breadcrumb
        = link_to "首页", root_path, class: "section"
        %i.right.chevron.icon.divider
        - if controller.controller_name ==  "disease_categories"
          - if action_name == "index"
            .active.section 全部疾病
          - elsif action_name == "view"
            = link_to "全部疾病", {controller: "disease_categories", action: "index"}, class: "section"
            %i.right.chevron.icon.divider
            .active.section
              = @view.name
        - elsif controller.controller_name ==  "diseases"
          = link_to "全部疾病", {controller: "disease_categories", action: "index"}, class: "section"
          %i.right.chevron.icon.divider
          = link_to @disease_category.name, disease_categories_path(@disease_category), class: "section"
          %i.right.chevron.icon.divider
          .active.section 感冒