<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Follow-up System</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'global' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div class="<%= action_name %>">
    <%= yield %>
  </div>
</body>
</html>
